<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/mainpage.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
	<h2>GM DATABASE EMPLOYEE ENTRY PORTAL</H2>
    <body>
        <form action="{{ url_for('employeelogin') }}" method="post">
			Dealer Name: <br>
            <input type="text" name="name">
			<br>
			DID: 
			<br>
			<input type="text" name = "did">
        <input type="submit">
    </form>
    </body>
</html>
