<!doctype html>
<html>
    <body>
		<h1> {{name}} Inventory</h1>
		<h1>INVENTORY</h1>
		{% if cars %}
		<ul>
			{% for item in cars %} 
				<li> {{item}} </li>
			{% endfor %}
		</ul>
		{% endif %}
		<h1> UPDATE INVENTORY </h1>
		
		<form action="{{ url_for('employeeaccount',name=name) }}" method="POST">
			Brand Name: <br>
            <input type="text" name="brand">
			<br>
			Model Name: <br>
			<input type="text" name = "model">
			<br>
			New amount: <br>
			<input type="text" name = "current">
        <input type="submit">
		{% if updatefail %}
		<h2>Could not update! Check maximum inventory allowed!</h2>		
		{% endif %}
    </body>
</html>
