<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase History</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/mainpage.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<h1>Purchase History </h1>
<body>
    {% if history %}
    <ul>
    	{% for row in history %}
    		<li> {{ row }} </li>
    	{% endfor %}
    </ul>
    {% endif %}
</body>
</html>
