<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase History</title>
</head>
<h1>Purchase History </h1>
<body>
    <form action="{{ url_for('purchasehistory') }}">
    <h2>Enter your Name</h2>
    <input type="text" name='name'>
    <h2>Enter customer ID (cid)</h2>
    <input type="text" name="cid">
    <input type="submit">
    {% for row in cur %}
    	<tr>
    		{% for i in row %}
    			<td>
    				{{ str( i) }}
    			</td>
    		{% endfor %}
    	</tr>
    {% endfor %}
</body>
</html>
