<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
</head>
<h1>Registration Form </h1>
<body>
    <form action="{{ url_for('register') }}" method="POST">
    <h2>Enter your Name</h2>
    <input type="text" name='name'>
    <h2>Enter your Address</h2>
    <input type="text" name="address">
	<h2>Enter your Phone</h2>
	<input type="text" name="phone">
	<h2>Enter your Gender</h2>
	<input type="text" name="gender">
	<h2>Enter your Income</h2>
	<input type="text" name="income">
    <input type="submit">
</body>
</html>